Checks: '-*,
    bugprone-*,
    cert-*,
    cppcoreguidelines-*,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-type-vararg,
        -cppcoreguidelines-non-private-member-variables-in-classes,
    llvm-*,
        -llvm-header-guard,
        -llvm-include-order,
    clang-analyzer-*,
    modernize-*,
        -modernize-use-trailing-return-type,
        -modernize-use-default-member-init,
        -modernize-use-nodiscard,
        -modernize-avoid-c-arrays,
        -modernize-use-using,
    performance-*,
        -performance-noexcept-move-constructor,
    portability-*,
    readability-*,
        -readability-redundant-member-init,
        -readability-uppercase-literal-suffix,
        -readability-else-after-return,
        -readability-named-parameter,
        -readability-redundant-access-specifiers,
        -readability-magic-numbers,
    hicpp-*,
        -hicpp-avoid-c-arrays,
        -hicpp-uppercase-literal-suffix,
        -hicpp-noexcept-move,
        -hicpp-vararg,
        -hicpp-member-init,
    misc-*,
        -misc-non-private-member-variables-in-classes,
